huggingface-cli==0.1
langchain==0.2.3
langchain-community==0.2.4
langchain-core==0.2.5
langchain-text-splitters==0.2.1
sentence-transformers==3.0.1
tokenizers==0.19.1
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
transformers @ git+https://github.com/huggingface/transformers.git@485d913dfbf61a1af4d78aa5038f0007805908cb
Flask==3.0.3